
body {
    background-color: black; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica LT W01 Light", sans-serif;
    font-weight: normal;
    line-height: 1.4;
    font-size: 16px;
}

.panel {
    width: 50%;
    height: 1600px;
    min-width: 400px;
    background-color: #18184e;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    border-radius: 6px;
}

hr {
    width: 80%;
    height: 2px;
    background-color: white;
    border-width: 0;
}

#header-mobile {
    
}

#menu-mobile {

}